<div class="navbar-class">
  <div class="navbar-container">

    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All Ideas", ideas_path %></li>
      <li><%= link_to "All Categories", categories_path %></li>
      <li><%= link_to "All Images", images_path %></li>
    </ul>


  </div>
</div>
<body class="login-page">

<div class="container">
<div class="root-login-form">
  <%= form_tag login_path do %>

  <%= text_field_tag :email, nil,  placeholder: 'Email Address' %>

  <%= password_field_tag :password, nil, placeholder: 'Password' %>

  <%= submit_tag "Log In", class: 'login-btn' %>
  <% end %>
</div>
</div>
<section>
  <%= image_tag("home_page_background")  %>
</section>
</body>
