<div class = 'new-idea-form'>
  <%= form_for [@user, @idea] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= select(:idea, :category_id, options_for_select(@categories.collect do |c|
                                                        [c.name, c.id] end)) %>

    <%= f.submit%>
  <% end %>
</div>
