<%= link_to "Home", root_path %>
<%= link_to "My Profile", user_path(@user) %>
<%= link_to "My Ideas", user_ideas_path %>
<div class = 'new-idea-form'>
  <%= form_for [@user, @idea] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= select(:idea, :category_id, options_for_select(@categories.collect do |c|
                                                        [c.name, c.id] end)) %>

    <% @images.each do |image| %>

    <div class="image_<%= image.id %>">

      <%= check_box_tag image.title %>
      <%= image_tag image.image.to_s%>
    </div>
    <% end %>

    <%= f.submit%>
  <% end %>
</div>

<div class="image-selection">

</div>
