<p>Join IdeaBox today.</p>

<%= form_for @user do |f| %>

     <%= f.label :email, "Email Address" %>
     <%= f.email_field :email %>

     <%= f.label :password %>
     <%= f.password_field :password %>

     <%= f.submit "Get Started" %>
<% end %>

<p>Have an account?</p>
<%= link_to "Log In" %>
