<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" name="viewport" content="width=device-width, intial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Coda Caption:800' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
   <%= content_tag :div, msg, class: name %>
   <% end -%>
    <div class="navbar-class">
      <div class="navbar-container">

        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "All Ideas", ideas_path %></li>
          <li><%= link_to "All Categories", categories_path %></li>
          <li><%= link_to "All Images", images_path %></li>
        </ul>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
